<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><?= GAME_TITLE; ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
<div>
    <h1><?= GAME_TITLE; ?> : Trouve le mot en moin de <?= $remainingTrials ?> coups</h1>
</div>
<div>
    <p>Le mot a deviner compte <?= $lettersCount; ?> lettres : <?= $replacementString; ?></p>
</div>
<div>
    <img srcset="images/pendu<?= $trials; ?>.gif" alt="X">
</div>
<div>
    <p>
        Voici les lettres que tu as déja essayé : <?= $triedLetters; ?>
    </p>
</div>
<div>
    <!-- Si on joue insérer le formulaire -->
    <!-- Si on a perdu insérer le message de défaite -->
    <!-- Si on a gagné insérer le message de victoire -->
    <?php if($gameOver === true) {
        include 'partials/failure.php';
    }
    if($gameWon === true){
        include 'partials/success.php';
    }
    if($gamePlaying === true){
        include 'partials/form.php';
    }
    ?>
</div>
</body>
</html>