<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><?= GAME_TITLE; ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
<div>
    <h1><?= GAME_TITLE; ?> : Trouve le mot en moin de <?= MAX_TRIALS ?> coups</h1>
</div>
<div>
    <p>Le mot a deviner compte <?= MAX_TRIALS ?> lettres : **********</p>
</div>
<div>
    <img srcset="images/pendu0.gif" alt="X">
</div>
<div>
    <!-- Si on joue insérer le formulaire -->
    <!-- Si on a perdu insérer le message de défaite -->
    <!-- Si on a gagné insérer le message de victoire -->
    <?php include 'partials/form.php'?>
</div>
</body>
</html>